.masonry-grid {
    display: flex;
    margin-left: -16px; /* Adjust as needed */
    width: 100%;
    flex-wrap: wrap;
  }
  
  .masonry-item {
    margin: 0 16px 16px 0; /* Adjust as needed */
    flex: 1 0 auto; /* Flexible width */
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 1rem;
    font-size: 20px;
    color: #555;
    position: relative;
  }

  .masonry-container {
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
  }

  .span-shorter {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .span-longer {
    position: relative;
  }

  .visible {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .invisible {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .hover-panel:hover {
    background-color: #dcdcdc;
  }